/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background: #f5f5f7;
  color: #1d1d1f;
    max-width: 1100px;
  margin: auto;
}

.btn {
  background: #0071e3;
  color: #fff;
  padding: 6px 23px;
  border-radius: 31px;
  text-decoration: none;
  font-size: 25px;
  transition: background .2s ease;
  height: 50px;
}

.btn:hover {
  background: #005bb5;
}

/* HERO */
.hero {
  text-align: center;
  padding: 48px 20px 50px;
}

.hero-image {
  width: 80%;
  margin-bottom: 28px;
}

.hero h1 {
  font-size: 88px;
  margin-bottom: 14px;
}

.hero p {
  font-size: 24px;
  line-height: 1.3;
  color: #979797;
  /*max-width: 70%;*/
  margin: auto;
  font-weight: 600;
}

/* CARDS */
.cards {
  padding: 24px 16px 64px;
  display: grid;
  gap: 20px;
}

.card {
  border-radius: 22px;
  padding: 28px 0px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform .3s ease, box-shadow .3s ease;
}
.card-img {
  width: 100%;
  max-width: 100%;
  margin-top: auto;           
  transform-origin: center;
  transition: transform .4s ease;
}
.card.dark::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.9),
    rgba(0,0,0,0.4),
    rgba(0,0,0,0)
  );
  z-index: 1;
}
.card > * {
  position: relative;
  z-index: 2;
}
.card-top{
  padding-top: 50px;
  margin: 0 auto;
}
.card-top-blank{
  padding-top: 0px;
  margin: 0 auto;
}
.cards {
  grid-template-columns: repeat(2, 1fr);
  max-width: 1100px;
  margin: auto;
}
.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 30px 60px rgba(0,0,0,.18);
}
.card:hover .card-img {
  transform: scale(1.06);
}



.card.dark {
  background: #000;
  color: #fff;
}

.card.light {
  background: #fff;
}

.eyebrow {
  font-size: 25px;
  opacity: .8;    
  font-weight: 500;  
  padding-top: 15px;
}

.card h2 {
  font-size: 33px;
  margin: 10px 0;
  line-height: 35px;
}

.price {
  font-size: 26px;
  margin-bottom: 18px;
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 14px;
  align-items: center;
  margin-bottom: 22px;
  margin-top: 10px;
}
.actions span{
  font-size: 34px;
  position: relative;
  top: 2px;
}



.link {
  color: #0071e3;
  text-decoration: none;
  font-size: 25px;
  position: relative;
  top: -8px; 
  left:20px;
  transition: transform 0.3s ease-out; 
  transform: translateX(0);
}
.link:hover {
  transform: translateX(10px);
}



/* ===== BREAKPOINTS ===== */

/* ≥ 734px */
@media (max-width: 734px) {
     .btn {
      padding: 4px 14px;
      border-radius: 31px;
      font-size: 16px;
      height: 34px;
    }
    .hero h1 {
      font-size: 45px; 
      line-height: 42px;
    }
    .hero p {
      font-size: 19px;    
      max-width: 84%;
    }
    .cards {
      grid-template-columns: repeat(1, 1fr);
      width: 375px;
      margin: 0 auto;
    }
    .price {
      font-size: 17px;    
      margin-top: 18px;
    }
    .card h2 {
      font-size: 20px;
      line-height: 24px;
      margin: 10px 20px;
    }
    .eyebrow {
      font-size: 17px;
    }
    .card-top {
      padding-top: 15px;
    }
    .link {
      left: 7px;
      font-size: 17px;
    }
    .actions span {
      font-size: 28px;
    }
 
}

/* ≥ 1068px */
@media (max-width: 1068px) {
  .card h2 {
    font-size: 25px;
    margin: 10px 0;
    line-height: 31px;
  }
  .hero h1 {
    font-size: 48px;
  }
 
}
